@import "_mediaquery";

@mixin navBar {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding-block: 3rem;
    position: fixed;
    // z-index: 99;
    width: inherit;

   

    .navlogo {
        width: 100px;
        height: 40px;
        

        img {
            width: 100%;
            height: 100%;
        }
    }

    ul {
        display: flex;
        gap: 30px;
        justify-content: flex-end;
        
        
        
        
    }

    .navselect {
        display: flex;
        gap: 20px;
        justify-content: flex-end;
        
        
        

        select {
            border: none;
            background-color: transparent;
        }

        a {
            color: $secondarytxtclr;
            
        }
    }


    .menubar {
        display: none;
    }
   
    .menu-bar {
        display: none;
        .menu-icon {
            font-size: 30px;
            
        }
    }

    @media screen and (max-width:767px) {
        // ul {
        //     display: none;
        // }
        .hide {
            display: none;
        }
        
        .menu-bar {
            display: block;

        }
    }
}

